* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


:root {
    --color-nav: #ffffff;
    --color-main-top: #1B72E8;
    --color-sidebar: #051E34;
    --color-icon-color: #5B5858;


    --color-circle-bg: #f26551;
    --color-button-green: #198754;
    --color-button-yellow: #ffc107;
    --color-buton-red: #dc3545;
    --color-grafic-color: #3e76d3;
    --color-bell: #ff8f00;
}


.nav {
    position: fixed;
    width: 100%;
    background-color: var(--color-nav);
    z-index: 5000;
    padding: 10px 0;
}
/* nav left */
.left {
    width: 10%;
}
/* nav center */
.center {
    width: 82%;
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 7px;
}
.center input {
    background-color: #E5E5E5;
    width: 50%;
}
/* nav right */
.right {
    width: 8%;
}
.right i {
    padding: 0 5px;
   
}
/* sidebar */
.sidebar {
    position: fixed;
    margin-top: 58px;
    color: white;
    width: 150px;
    height: 100vh;
    background-color: var(--color-sidebar);
}
.sidebar i {
    margin-right: 10px;
}


/* main-top */
.m-top {
    background-color: #348ee2;
    width: 100%;
    
    margin-top: 58px;
    margin-left: 150px;   
}


.nb-debug {
    border: 1px solid red;
}


/* main */
.main{
    padding:40px 20px 40px 20px;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
  }
  td, th {
    padding: 10px;
    
  }
  tr td, tr th {
    border-bottom: 1px solid lightgray ;
    
  }
  tr td img {
    width: 40px;
  }
td i {
    margin-right: 6px;
   
}

  

